body {
    background-color: lightgoldenrodyellow;
    width: 95vw;
    margin: 0 auto;
}

/* HEADER */

header {
    display: flex;
    margin: 0 auto;
    padding: 15px;
}

header #logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 70px;
    height: 100px;
    margin: 10px 0;
}
header #logo .topo {
    padding: 5px;
    width: 5%;
    height: 2px;
    background-color: burlywood;
    border-radius: 2px;
    margin: 2px 0;
}
header #logo .cor1 {
    padding: 5px;
    width: 40%;
    height: 3px;
    background-color: lightsalmon;
    border-radius: 2px;
    margin: 2px 0;
}
header #logo .cor2 {
    padding: 5px;
    width: 52%;
    height: 3px;
    background-color: lightblue;
    border-radius: 2px;
    margin: 2px 0;
}
header #logo .cor3 {
    padding: 5px;
    width: 64%;
    height: 3px;
    background-color: pink;
    border-radius: 2px;
    margin: 2px 0;
}
header #logo .cor4 {
    padding: 5px;
    width: 76%;
    height: 3px;
    background-color: lightgreen;
    border-radius: 2px;
    margin: 2px 0;
}
header #logo .base {
    padding: 5px;
    width: 86%;
    height: 2px;
    background-color: burlywood;
    border-radius: 2px;
    margin: 2px 0;
}
header h1 {
    display: flex;
    text-align: end;
    align-self: center;
    color: rgb(6, 88, 116);
    font-size: 35px;
    padding-left: 10px;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    width: fit-content;
}
/* MAIN */

#container {
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: center;
    align-items: center;
}
#container hr {
    border: 1px solid burlywood;
    width: 80vw;
}
#container i {
    display: none;
}
#container h2 {
    background-color: burlywood;
    color: white;
    border-radius: 3px;
    font-family: 'Nunito';
    font-weight: 800;
    font-size: 18px;
    text-align: center;
    margin-block-end: 0;
}
#container .saudacao {
    margin-bottom: 8px;
    background-color: lightgoldenrodyellow;
    color: burlywood;
}
#container p {
    font-family: 'Nunito';
    font-weight: 200;
    font-size: 14px;
    text-align: center;
}
#container ul {
    padding-inline-start: 20px;
}
#container li {
    font-family: 'Nunito';
    font-weight: 200;
    font-size: 14px;
    text-align: justify;
    list-style: circle;
}
#container #divPilhas {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    margin-block-start: 10px;
}
#container .pilha {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: burlywood;
    padding: 3px;
    margin: 17px 0;
    width: 5px;
    height: 100px;
    cursor: pointer;
}
#container #inicial {
    display: flex;
    flex-direction: column-reverse;
}
#container #meio {
    display: flex;
    flex-direction: column-reverse;
}
#container #final {
    display: flex;
    flex-direction: column-reverse;
}
#container .disco {
    display: flex;
    justify-content: flex-end;
    flex-direction: column-reverse;
    padding: 4px;
    height: 10px;
    border-radius: 3px;
}
#container .um {
    background-color: lightsalmon;
    min-width: 70px;
    max-width: 70px;
}
#container .dois {
    background-color: lightblue;
    min-width: 60px;
    max-width: 60px;
}
#container .tres {
    background-color: pink;
    min-width: 50px;
    max-width: 50px;
}
#container .quatro {
    background-color: lightgreen;
    min-width: 40px;
    max-width: 40px;
}

#container .um:hover {
    background-color: rgb(255, 114, 58);
}
#container .dois:hover {
    background-color: rgb(52, 184, 228);
}
#container .tres:hover {
    background-color: rgb(253, 109, 133);
}
#container .quatro:hover {
    background-color: rgb(74, 241, 74);
}

#container .um:active {
    background-color: rgb(255, 195, 172);
}
#container .dois:active {
    background-color: rgb(212, 234, 241);
}
#container .tres:active {
    background-color: rgb(248, 221, 226);
}
#container .quatro:active {
    background-color: rgb(197, 255, 197);
}

#bottom {
    display: flex;
    margin-top: -20px;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
    padding: 3px;
    width: 90vw;
    height: 5px;
}
.torre{
    display: flex;
    flex-direction: column-reverse;
}

@media (min-width: 600px) {
    
    header {
        justify-content: center;
    }

    header #logo {
        display: flex;
    }

    #container #info {
        align-self: center;
        padding: 5px 30px;
        width: 80vw;
    }

    #container .saudacao {
        margin-left: 0;
        text-align: right;
        font-size: 22px;
    }

    #container p {
        padding: 10px 30px;
        max-width: 510px;
        font-size: 18px;
    }

    #container li {
        font-size: 18px;
    }

    #container i {
        display: inline;
    }

    #container #divPilhas {
        margin-left: 2vw;
    }
}

@media (min-width: 900px) {
    hr {
        display: none;
    }

    #container {
        flex-direction: row;
    }

    #bottom {
        display: block;
        position: absolute;
        max-width: 50vw;
        margin-left: 24vw;
        margin-top: 35vh;
        padding: 6px;
    }

    #info {
        max-width: 20vw;
    }

    #divPilhas {
        max-width: 60vw;
        margin: 0 auto;
    }

    #container .pilha {
        padding: 6px;
        margin: 17px 0;
        width: 10px;
        height: 200px;
        cursor: pointer;
    }

    #container .disco {
        padding: 8px;
        height: 20px;
        border-radius: 3px;
    }
    #container .um {
        background-color: lightsalmon;
        min-width: 95px;
        max-width: 95px;
    }
    #container .dois {
        background-color: lightblue;
        min-width: 80px;
        max-width: 80px;
    }
    #container .tres {
        background-color: pink;
        min-width: 65px;
        max-width: 65px;
    }
    #container .quatro {
        background-color: lightgreen;
        min-width: 50px;
        max-width: 50px;
    }
}